doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Top 50 of Emme Maqbool Dhivehi Anhenaa - 2014
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/components/underscore/underscore.js')
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/async/lib/async.js')
		script(src='/web.js')
	body
		section.container#stuff
			h1 Top 50 of Emme Maqbool Dhivehi Anhenaa - 2014
			h5#fbmsg Reading data from facebook...
